DB_HOST="se agrega el nombre del host de la base de datos"
DB_PORT="se agrega el número de puerto de la base de datos"
DB_NAME="se agrega el nombre de la base de datos"
DB_USER="se agrega el nombre de usuario de la base de datos"
DB_PASS="se agrega la contraseña de la base de datos"